# Build folders
/target

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# OS specific
.DS_Store

# Logs
*.log

# Environment
.env

# Application properties 
/src/main/resources/application.properties

# Docker
docker-compose.override.yml
